@use "../../styles/tokens" as *;

#tasks {
  padding: $space-lg;
  border-radius: $radius-lg;
  max-height: 60vh;
  overflow: auto;
  background-color: $color-bg-tasklist;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $space-3xl;
  gap: $space-lg;
}

h2 {
  margin: 0;
  font-size: $font-size-md;
  width: 60%;
  text-wrap: balance;
}

menu {
  margin: 0;
  padding: 0;
}

menu button {
  font: inherit;
  cursor: pointer;
  background-color: $color-btn-menu;
  border-radius: $radius-sm;
  border: none;
  padding: $space-sm $space-xl;
  font-size: $font-size-md;
}

menu button:hover,
menu button:active {
  background-color: $color-btn-menu-hover;
}

ul {
  list-style: none;
  margin: $space-lg 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $space-lg;
  max-height: 50vh;
  overflow: auto;
}

@media (min-width: $bp-md) {
  h2 {
    font-size: $font-size-xl;
  }

  menu {
    width: auto;
  }
}
