@use "../styles/tokens" as *;

main {
  width: 90%;
  max-width: 50rem;
  margin: $space-4xl auto;
  display: grid;
  grid-auto-flow: row;
  gap: $space-3xl;
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: $space-md;
  overflow: auto;
}

#fallback {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  margin: 0;
  text-align: center;
}

@media (min-width: $bp-md) {
  main {
    margin: $space-5xl auto;
    grid-template-columns: 1fr 3fr;
  }

  #users {
    flex-direction: column;
  }

  #fallback {
    font-size: $font-size-2xl;
    text-align: left;
  }
}
